:root {
  --primary-color: red;
  --primary-filter: invert(24%) sepia(79%) saturate(7497%) hue-rotate(356deg)
    brightness(100%) contrast(117%);
  --sidebar-color: #fcfaf8;
  --gray-filter: invert(38%) sepia(1%) saturate(226%) hue-rotate(314deg)
    brightness(101%) contrast(86%);
  --hover-color: #e9e9e9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.checkbox {
  background-color: #fff;
  border: 2px solid var(--primary-color);
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.checked {
  background-color: var(--primary-color);
  background-image: url(assets/check.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.crossed-out {
  text-decoration: line-through;
  color: gray;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#app {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.sidebar {
  background-color: var(--sidebar-color);
}

.sidebar h2 {
  font-size: 24px;
  margin: 16px;
}

.task-buttons-container {
  margin: 16px;
}

.task-buttons-container button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
  width: 100%;
}

.task-buttons-container button img {
  filter: var(--gray-filter);
}

.projects-container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projects-container-title {
  display: flex;
  justify-content: space-between;
}

.projects-container button img {
  filter: var(--gray-filter);
}

.projects-container-title h2 {
  font-size: 15px;
  font-weight: 500;
}

.projects li {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px;
  width: 100%;
  position: relative;
}

.projects li button {
  flex: 1;
}

.projects li div {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 5px;
}

.projects li:hover,
.add-task-button:hover,
.task-buttons-container button:hover {
  background-color: var(--hover-color);
  border-radius: 4px;
}

.project-delete-btn {
  position: absolute;
  right: 0;
  visibility: hidden;
  margin-right: 4px;
}

.project-name {
  font-size: 14px;
  flex: 1;
  text-align: start;
}

.hashtag {
  filter: var(--gray-filter);
  width: 18px;
}

.project-todo-count {
  filter: var(--gray-filter);
  font-size: 14px;
}

main {
  padding: 55px;
  width: clamp(400px, 100%, 800px);
  margin: 0 auto;
}

.todos {
  display: flex;
  flex-direction: column;
}

.todo-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  padding: 12px 0;
  width: 100%;
}

.todo-name {
  font-size: 16px;
  text-align: start;
}

.todo-item {
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.due-tag {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 12px;
}

.due-tag img {
  width: 1.5em;
}

.todo-text-content button {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.todo-buttons {
  display: flex;
  gap: 4px;
}

.add-task-button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 8px 8px 0;
  margin-top: 8px;
  color: gray;
  font-size: 14px;
}

.add-task-button img {
  filter: var(--primary-filter);
}

dialog {
  margin: auto;
  padding: 16px;
  border: 1px solid gray;
  border-radius: 4px;
}

dialog h1 {
  font-size: 20px;
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

dialog .buttons-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

dialog button {
  padding: 8px;
  border-radius: 4px;
}

dialog #cancel {
  background-color: rgb(209, 209, 209);
  color: rgb(41, 41, 41);
}

dialog #add {
  background-color: var(--primary-color);
  color: white;
}

.project-cell .project-delete-btn {
  visibility: hidden;
}

.project-cell:hover .project-delete-btn {
  visibility: visible;
}

.project-cell:hover .project-todo-count {
  visibility: hidden;
}
